.bg-desktop {
  background-image: url("./assets/Background-Home.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

@media screen and (max-width: 720px) {
  .bg-mobile {
    background-image: url("./assets/Background-Mobile.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
